<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    <span>This is a profile page for a very special cat</span>

    <div class="cat-portrait"></div>

    <span th:text="${cat.age}"></span>
    <span th:text="${cat.name}">Name</span>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script>
        // https://aws.random.cat/meow
        // call the URL
        // -> put file -> img on img div
    </script>


</body>
</html>
